:root {
    --bgcolor: #fff;
    --app-title : #000;
    --overview-title : #000;
    --card-bg : hsl(227, 47%, 96%);
    --follower-count : #000;
    --primarytext : hsl(228, 12%, 44%);
    --hoverBox : hsl(232, 33%, 91%);
    
}

html[data-theme='light'] {
    --bgcolor: #fff;
    --app-title : #000;
    --overview-title : #000;
    --card-bg : hsl(227, 47%, 96%);
    --follower-count : #000;
    --primarytext : hsl(228, 12%, 44%);
    --hoverBox : hsl(232, 33%, 91%);
}

html[data-theme='dark'] {
    --bgcolor: hsl(230, 17%, 14%);
    --app-title : #fff;
    --overview-title : #fff;
    --card-bg : hsl(228, 28%, 20%);
    --follower-count : #fff;
    --primarytext : hsl(228, 34%, 66%);
    --hoverBox : hsl(228, 28%, 22%);
}

body{
    background-color: var(--bgcolor) !important;
}

#text-header {
    margin-left: 7%;
    width: 93%;
}

.container{
    max-width: 100% !important;
}

.header-top{
    height: 100px;
}

/* .box-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
} */

.card-top {
    padding: 0.1rem 1rem !important;
}

.card-body {
    text-align: center;
    background-color: var(--card-bg);
}

.card-body:hover {
    background-color: var(--hoverBox);
    
    
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.fb {
    background-color: hsl(208, 92%, 53%) !important;
}

#twitter {
    background-color: hsl(203, 89%, 53%);
}

#insta {
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
}

#yt {
    background-color: hsl(348, 97%, 39%);
}

.card {
    margin: 2rem !important;
    border: 0px !important;
    width: 240px;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.sm-username {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding-top: 1vh;
    color: var(--primarytext);
}

.followers {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-top: 1.5vh;
    color: hsl(228, 12%, 44%);
}

.f-count {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: normal;
    color: var(--follower-count);
}

.count-change {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: hsl(163, 72%, 41%);
    padding-top: 1.5vh;
}

#app-header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 3vh;
    color: var(--app-title);
}

#cont-bottom {
    width: 100%
}

.col-md-2 {
    /* width: 22.5% !important; */
}

.col-md-1 {
    width: 5% !important;
}

.toggle {
    display: flex;
    align-items: center;
    /* align vertical */
}

#overview-header {
    margin-left: 7% !important;
    width: 93%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 2.5vh;
    color: var(--app-title);
}

.fb-cat1-top {
    padding: 0 !important;
    border-bottom: 0 !important;
}

.gray-small-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--primarytext);
}

.overview-small-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: var(--primarytext);
    text-align: left;
}

.overview-count {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    color: var(--follower-count);
}

.count-end {
    text-align: end;
}

.overview-img {
    display: flex;
    direction: rtl;
}

/* toggle button */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode{
    margin-top: 6px !important;
}


.toggle-xs{
    display: none;
}

.hr-line{
    display: none;
}



@media screen and (max-width: 600px) {
    .col-md-2 {
        width: 100% !important;
    }

    .toggle{
        display: none;
    }

    .toggle-xs{
        display: inline;
        margin-top: 6%;
        width:50% !important;
    }

    #toggle-switch{
        padding-left: 25% !important;
    }

    .hr-line{
        display: block;
        margin-left: 8% ;
        margin-right: 8% ;
        margin-top: 10% ;
        border: 1px solid #ccc ;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .card{
        width: 300px;
    }
}
