:root{
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
    --activeState: #766cf1;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--paleBlue);
}

.card-component{
    /* width: 100px;
    height: 100px;
    background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 24em;
    background-color: white;
    border-radius: 1em;
    font-size: 16px;
    box-shadow: 0px 3px 10px #888888;
    /* flex-wrap: wrap; */
}

article{
    text-align: center;
    padding: 1.5em 4em;
    color: var(--desaturatedBlue);
}

.pricing-box{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    background-color: var(--veryPaleBlue);
    padding: 1.5em;
    width: 70%;
    border-radius: 0.5em;
}

.buttons{
    display: flex;
    flex-direction:column;
    width: 80%;
    padding: 1.5em 0;
    gap: 1em;
}

h2{
    font-weight: 900;
    top: 0.5em;
    position: relative;
    color: var(--darkBlue);
}

h4{
    font-weight: 900;
}

.plan-box div{
    color: var(--desaturatedBlue);
}

a{
    color: var(--brightBlue);
    font-weight: 700;
    font-size: small;
}

a:hover{
    color: var(--activeState);
    text-decoration: none;
}

.btn:nth-child(1){
    background-color: var(--brightBlue);
    color: white;
    padding: 1em 3em;
    border: 1px solid var(--brightBlue);
    border-radius: 0.5em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    box-shadow: 4px 4px 10px #888888;
}

.btn:nth-child(1):hover{
    background-color: var(--activeState);
    border: 1px solid var(--activeState);
    cursor: pointer;
}

.btn:nth-child(2){
    background-color: white;
    color: var(--desaturatedBlue);
    padding: 1em 3em;
    border: 1px solid var(--white);
    border-radius: 0.5em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

.btn:nth-child(2):hover{
    color: black;
    cursor: pointer;
}

.header-img img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
}

@media screen and (max-width:900px){
    .card-component{
        flex: 0 0 22em;
    }
}
