:root{
    --veryLightGray : hsl(0, 0%, 98%);

}

*{
    margin: 0;
    padding: 0;
}

html[data-theme='light']{
    --bgColor : hsl(0, 0%, 98%);
    --headerColor: white;
    --textColor: black;
    --shadowColor: #dfdede;
}

html[data-theme='dark']{
    --bgColor :  hsl(207, 26%, 17%);
    --headerColor: hsl(209, 23%, 22%);
    --textColor: white;
    --shadowColor: #0e0e0e;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--bgColor);
    color: var(--textColor);
    transition: 0.2s;
}

.header{
    position : sticky;
    height: 1em;
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content:space-between;
    /* width: 95vw; */
    background-color: var(--headerColor);
    box-shadow: 10px 10px 10px -5px var(--shadowColor);
}

.header h2{
}

.dark-mode-box{
    display: flex;
    align-items: center;
    transition: 1s;
}

.dark-mode-box p{
    margin-left: 0.5em;
    font-weight: 600;
}

.main{
    position: relative;
    /* top: 5em; */
}

.input-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellowgreen; */
}

.input-form select{
    margin-right: 3em;
    margin-top: 3em;
    padding: 1em;
    border: 0px;
    box-shadow: 10px 10px 10px -5px var(--shadowColor);
    color: var(--textColor);
    background-color: var(--headerColor);
}

.input-form select:focus, .input-form input:focus{
    outline: none;
}

.input-form input{
    margin-top: 3em;
    margin-left: 3em;
    padding: 1em 10em 1em 1em;
    border: 0px;
    background-color: var(--header-color);
    color: var(--textColor);
    box-shadow: 10px 10px 10px -5px var(--shadowColor);
}

::placeholder{
    color: var(--textColor);
}

.flag{
    width: 18rem;
    height: 12rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* background-color: white; */
}

.countries-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 3rem;    
}

.country-item{
    width: 18rem;
    background-color: var(--header-color);
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px -5px var(--shadowColor);
    color: var(--textColor);
}

.country-item h3{
    padding: 1rem;
}

.country-item ul{
    list-style-type: none;
    /* background-color: yellowgreen; */
    padding: 1rem;
}
