html{
    color: #fff;
}

.main__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__container{
    display: flex;
    flex-direction: column;
}

.profile__content{
    background-color: hsl(246, 80%, 60%);
}

.profile__content img{
    width: 30%;
}

.profile__frequency{
    background-color: hsl(235, 46%, 20%);
}

.stats__header{
    display: flex;
    justify-content: space-between;
}

.stats__header img{
    height: 100%;
}

.stats__container{
    background-color : hsl(235, 46%, 20%);
}
